body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 1rem;
  border: none;
  border-radius: 22px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px 20px hsla(218, 44%, 22%, 0.1);
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  margin-top: 1.5rem;
  padding: 0 1rem;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

p {
  margin: 0 0 1.5rem 0;
  padding: 0 1rem;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
